/*
Error: File to import not found or unreadable: compass.
       Load path: /Users/ddorio/Sites/tpc-tax-calculator/WebApp/template_app/static/template_app/css/sass
        on line 2 of _config.scss
        from line 1 of ./ie8.scss

1: @import "config";
2: 
3: #main-content {
4:   width: 960px;
5: }
6: 
7: .tpc-calculator .icon-toggle {

Backtrace:
_config.scss:2
./ie8.scss:1
/Users/ddorio/.rvm/gems/ruby-1.9.3-p551/gems/sass-3.4.22/lib/sass/tree/import_node.rb:67:in `rescue in import'
/Users/ddorio/.rvm/gems/ruby-1.9.3-p551/gems/sass-3.4.22/lib/sass/tree/import_node.rb:45:in `import'
/Users/ddorio/.rvm/gems/ruby-1.9.3-p551/gems/sass-3.4.22/lib/sass/tree/import_node.rb:28:in `imported_file'
/Users/ddorio/.rvm/gems/ruby-1.9.3-p551/gems/sass-3.4.22/lib/sass/tree/import_node.rb:37:in `css_import?'
/Users/ddorio/.rvm/gems/ruby-1.9.3-p551/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:313:in `visit_import'
/Users/ddorio/.rvm/gems/ruby-1.9.3-p551/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/ddorio/.rvm/gems/ruby-1.9.3-p551/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
/Users/ddorio/.rvm/gems/ruby-1.9.3-p551/gems/sass-3.4.22/lib/sass/stack.rb:79:in `block in with_base'
/Users/ddorio/.rvm/gems/ruby-1.9.3-p551/gems/sass-3.4.22/lib/sass/stack.rb:115:in `with_frame'
/Users/ddorio/.rvm/gems/ruby-1.9.3-p551/gems/sass-3.4.22/lib/sass/stack.rb:79:in `with_base'
/Users/ddorio/.rvm/gems/ruby-1.9.3-p551/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:160:in `visit'
/Users/ddorio/.rvm/gems/ruby-1.9.3-p551/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:328:in `block (2 levels) in visit_import'
/Users/ddorio/.rvm/gems/ruby-1.9.3-p551/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:328:in `map'
/Users/ddorio/.rvm/gems/ruby-1.9.3-p551/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:328:in `block in visit_import'
/Users/ddorio/.rvm/gems/ruby-1.9.3-p551/gems/sass-3.4.22/lib/sass/stack.rb:88:in `block in with_import'
/Users/ddorio/.rvm/gems/ruby-1.9.3-p551/gems/sass-3.4.22/lib/sass/stack.rb:115:in `with_frame'
/Users/ddorio/.rvm/gems/ruby-1.9.3-p551/gems/sass-3.4.22/lib/sass/stack.rb:88:in `with_import'
/Users/ddorio/.rvm/gems/ruby-1.9.3-p551/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:325:in `visit_import'
/Users/ddorio/.rvm/gems/ruby-1.9.3-p551/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/ddorio/.rvm/gems/ruby-1.9.3-p551/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
/Users/ddorio/.rvm/gems/ruby-1.9.3-p551/gems/sass-3.4.22/lib/sass/stack.rb:79:in `block in with_base'
/Users/ddorio/.rvm/gems/ruby-1.9.3-p551/gems/sass-3.4.22/lib/sass/stack.rb:115:in `with_frame'
/Users/ddorio/.rvm/gems/ruby-1.9.3-p551/gems/sass-3.4.22/lib/sass/stack.rb:79:in `with_base'
/Users/ddorio/.rvm/gems/ruby-1.9.3-p551/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:160:in `visit'
/Users/ddorio/.rvm/gems/ruby-1.9.3-p551/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/ddorio/.rvm/gems/ruby-1.9.3-p551/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/ddorio/.rvm/gems/ruby-1.9.3-p551/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/ddorio/.rvm/gems/ruby-1.9.3-p551/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:169:in `block in visit_children'
/Users/ddorio/.rvm/gems/ruby-1.9.3-p551/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:181:in `with_environment'
/Users/ddorio/.rvm/gems/ruby-1.9.3-p551/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:168:in `visit_children'
/Users/ddorio/.rvm/gems/ruby-1.9.3-p551/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/ddorio/.rvm/gems/ruby-1.9.3-p551/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:188:in `visit_root'
/Users/ddorio/.rvm/gems/ruby-1.9.3-p551/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/ddorio/.rvm/gems/ruby-1.9.3-p551/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:159:in `visit'
/Users/ddorio/.rvm/gems/ruby-1.9.3-p551/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/ddorio/.rvm/gems/ruby-1.9.3-p551/gems/sass-3.4.22/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/ddorio/.rvm/gems/ruby-1.9.3-p551/gems/sass-3.4.22/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/ddorio/.rvm/gems/ruby-1.9.3-p551/gems/sass-3.4.22/lib/sass/engine.rb:381:in `_render_with_sourcemap'
/Users/ddorio/.rvm/gems/ruby-1.9.3-p551/gems/sass-3.4.22/lib/sass/engine.rb:298:in `render_with_sourcemap'
/Users/ddorio/.rvm/gems/ruby-1.9.3-p551/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/Users/ddorio/.rvm/gems/ruby-1.9.3-p551/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/ddorio/.rvm/gems/ruby-1.9.3-p551/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:209:in `each'
/Users/ddorio/.rvm/gems/ruby-1.9.3-p551/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/ddorio/.rvm/gems/ruby-1.9.3-p551/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:294:in `watch'
/Users/ddorio/.rvm/gems/ruby-1.9.3-p551/gems/sass-3.4.22/lib/sass/plugin.rb:109:in `method_missing'
/Users/ddorio/.rvm/gems/ruby-1.9.3-p551/gems/sass-3.4.22/lib/sass/exec/sass_scss.rb:360:in `watch_or_update'
/Users/ddorio/.rvm/gems/ruby-1.9.3-p551/gems/sass-3.4.22/lib/sass/exec/sass_scss.rb:51:in `process_result'
/Users/ddorio/.rvm/gems/ruby-1.9.3-p551/gems/sass-3.4.22/lib/sass/exec/base.rb:52:in `parse'
/Users/ddorio/.rvm/gems/ruby-1.9.3-p551/gems/sass-3.4.22/lib/sass/exec/base.rb:19:in `parse!'
/Users/ddorio/.rvm/gems/ruby-1.9.3-p551/gems/sass-3.4.22/bin/sass:13:in `<top (required)>'
/Users/ddorio/.rvm/gems/ruby-1.9.3-p551/bin/sass:23:in `load'
/Users/ddorio/.rvm/gems/ruby-1.9.3-p551/bin/sass:23:in `<main>'
/Users/ddorio/.rvm/gems/ruby-1.9.3-p551/bin/ruby_executable_hooks:15:in `eval'
/Users/ddorio/.rvm/gems/ruby-1.9.3-p551/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: File to import not found or unreadable: compass.\A        Load path: /Users/ddorio/Sites/tpc-tax-calculator/WebApp/template_app/static/template_app/css/sass\A         on line 2 of _config.scss\A         from line 1 of ./ie8.scss\A \A 1: @import \"config\";\A 2: \A 3: #main-content {\A 4:   width: 960px;\A 5: }\A 6: \A 7: .tpc-calculator .icon-toggle {"; }
