*.db
.DS_Store
.idea
venv
env
__pycache__
WebApp/template_app/static/template_app/template_app/
WebApp/template_app/static/template_app/.sass-cache/
WebApp/template_app/static/template_app/css/.sass-cache/
WebApp/template_app/static/template_app/admin/
WebApp/template_app/static/template_app/debug_toolbar/
*.map
*.aes
*.log

WebApp/template_app/static/template_app/admin/fonts/.LICENSE.txt
WebApp/template_app/static/template_app/admin/fonts/.README.txt
WebApp/template_app/static/template_app/admin/fonts/.Roboto-Bold-webfont.woff
WebApp/template_app/static/template_app/admin/fonts/.Roboto-Light-webfont.woff
WebApp/template_app/static/template_app/admin/fonts/.Roboto-Regular-webfont.woff
WebApp/template_app/static/template_app/admin/js/vendor/jquery/.LICENSE-JQUERY.txt
WebApp/template_app/static/template_app/admin/js/vendor/jquery/.jquery.js
WebApp/template_app/static/template_app/admin/js/vendor/jquery/.jquery.min.js
WebApp/template_app/static/template_app/admin/js/vendor/xregexp/.LICENSE-XREGEXP.txt
WebApp/template_app/static/template_app/admin/js/vendor/xregexp/.xregexp.js.AByvG7
WebApp/template_app/static/template_app/admin/js/vendor/xregexp/.xregexp.min.js
WebApp/template_app/static/template_app/import_export/.action_formats.js

.env
.bk.env


CalcSandbox/Basecases
CalcSandbox/*.txt
